.Button {
    padding: 10px;
    box-sizing: border-box;
    font-size: 24px;
    color: #ff9900;
    cursor: pointer;
    transition: all .2s ease;

    &:hover {
        background-color: #ff9900;
        color: #fff;
    }
}