.detail-card {
    display: flex;
    margin: 2rem 15%;
    gap: 3rem;
    padding: 3rem;
    background-color: #fff;

    .detail-img-center {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .detail-img {
            width: 100%;
            transition: transform .4s ease;
            transform-origin: 50% 50%;
            cursor: pointer;

            &:hover {
                transform: scale(1.05);
                width: 100%;
            }
        }
    }

    .detail-card-body {

        .detail-name {
            font-size: 1.5rem;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            color: #000;
        }

        .detail-tagline {
            font-size: 1rem;
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            color: #ff9900;
        }

        .detail-description {
            font-size: 1rem;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            color: #000;
            margin-top: 1rem;
        }

        .detail-price {
            margin: 50px 0;
            font-size: 1.8rem;
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            color: #000;
        }

        .detail-buttons {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            max-width: fit-content;

            .itemCount {
                width: 100%;
            }

            .stock {
                font-size: 12px;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                padding-top: .9rem;
                color: rgba(0, 0, 0, 0.6);
            }

            .verCarritoLink {
                text-decoration: none;
                width: 100%;

                .verCarritoButton {
                    margin-top: 1em;
                    color: #fff;
                    background-color: #ff9900;
                    border: none;
                    box-shadow: none;
                    font-size: .9em;
                    font-family: 'Poppins', sans-serif;
                    border-radius: 0;
                    text-transform: none;
                    width: 100%;
        
                    &:hover {
                        background-color: #ca7900;
                    }
                }
            }            
        }
    }
}