.saludo {
    height: auto;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    transition: all .2s ease-in-out;
    cursor: pointer;

    &:hover {
        color: #ff9900,
    }
}