.MainNav {
    border-top: 1px solid #eeeeee;
    width: 100%;
    height: auto;
    background-color: #fff;
}

.MainNav-container {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 0px;
    padding: 0px;
    padding-left: 0;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.MainNav-container .link-0, .link-1, .link-2, .link-3{
    padding: 10px;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
}

.MainNav-container .link-1 a{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #000000;
    margin: 0 10px 0 10px;
    display: inline-block;
    position: relative;
    transition: all 0.2s ease;
}

.MainNav-container .link-1 a:hover{
    color: #313131;
}

.MainNav-container .link-1 a::after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0%;
    position: absolute;
    background-color: #313131;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    box-sizing: border-box;
}

.MainNav-container .link-1 a:hover::after, .MainNav-container .link-2 a:hover::after, .MainNav-container .link-3 a:hover::after{
    width: 100%; 
    left: 0; 
}

.MainNav-container .link-0 p{
    margin: 0px;
    padding: 0px;
    color: #ff9900;
    user-select: none;
    -webkit-user-select: none;
}

.MainNav-container .link-2 a {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #ff9900;
    margin: 0 10px 0 10px;
    display: inline-block;
    position: relative;
    transition: all 0.2s ease;
}

.MainNav-container .link-2 a:hover{
    color: #ffa835;
}

.MainNav-container .link-2 a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0%;
    position: absolute;
    background: #ffa835;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    box-sizing: border-box;
}

.MainNav-container .link-3 a {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #ff9900;
    margin: 0 10px 0 10px;
    display: inline-block;
    position: relative;
    transition: all 0.2s ease;
}

.MainNav-container .link-3 a:hover{
    color: #ffa835;
}

.MainNav-container .link-3 a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0%;
    position: absolute;
    background: #ffa835;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    box-sizing: border-box;
}
