* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
  width: 100%;
  margin: auto;
  background-color: #e7e7e7;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 15%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #ff9900;
}