* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
  width: 100%;
  margin: auto;
  background-color: #e7e7e7;
}

.benefitBar__container {
  width: 100%;
  background-color: #eeeeee;
}

.benefitBar__container .benefitBar__container--content {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #202020;
}

.logo-div {
  display: flex;
  height: 80px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

.logo-div img {
  width: 250px;
}
